<!DOCTYPE html>
<html>
<head>
<style>
h1 {
    color: orange;
}


.jumbotron {
  background-color: black;
}
@media (min-width: 1200px) {
    .container{
        max-width: 1200px;
    }
}
.fill { 
    min-height: 200%;
    height: 200%;
}
h2{
        text-align: center;
    }
    
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }    
  
 .btn div {
  font-size:40px
}

.btn div:first-line {
    font-size:20px
}
</style>
</head>
<body>
